body{
    background-image: url(../img/fondo.jpg);
    padding: 10px;
}

div.iconContainer {
    background-color: rgba(241, 160, 9, 0.445);
    width: 40%;
    height: 70%;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    border: 1px solid white;
    padding: 20px;

}

div.titulo h1{
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Shadows Into Light', cursive;
}

i.icons1{
    padding: 20px;
    font-size: 100px;
}


i.icons2 {
    padding: 20px;
    font-size: 100px;
    color: white;
}

i.icons1:hover {
    transform: scale(1.2);
    transition: 400ms;
}

a{
    color: white;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

div.effectleft {
    animation-duration: 1s;
    animation-name: slidein;
  }

div.effectright {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


