
h1.rojo {
    color:red;
}


body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(background.jpg);
    background-size: cover;
}

/* estilos.css */

.bg-primary {
    background-color: rgb(6, 146, 60);
    color: white;
}

.navbar {
    margin-bottom: 30px;
    background-color: black;
}

#tabla_listado {
   
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(123, 202, 248);
}

input.error{
    border: 2px red dashed;
}

.btn{
    color: black;
    background-color: rgb(148, 218, 250);
    margin-bottom: 20px;
}

div.form-group label {
    color: white;
}

th {
    font-size: 20px;
    color: rgb(148, 218, 250);
}

tr {
    color: white;
    text-align: center;
}

td{
    color: white;
    text-align: center;
}

i.edita{
    font-size: 20px;
    color: rgba(179, 212, 255, 0.918);
}

i.edita:hover{
    font-size: 25px;
    transition: 200ms;
}

i.delete:hover{
    font-size: 25px;
    transition: 200ms;
}

i.phone:hover{
    font-size: 25px;
    transition: 200ms;
}

i.delete{
    font-size: 20px;
    color: red;
}

i.phone{
    font-size: 20px;
    color: rgb(81, 245, 177);
}

.btn{
    margin-top: 20   px;
}

