
body {
    background-color: beige;
    padding: 50px;
    text-align: center;
}

div.celda {
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background-color: green;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    font-size: 30px;
    z-index: 0;
}

div.celda.flag {
    background-color: lightblue;
    background-image: url(../img/flag-regular.svg);
    vertical-align: top;
}



div.celda.oculta, div.celda.mina.oculta {
    background-color: grey;
    background-image: none;
    cursor: pointer;
    z-index: 1;
}

div.celda.mina {
    background-color: red;
    background-image: url(../img/bomb-solid.svg);
    z-index: 1;
    color: rgba(255, 255, 255, 0);
}

div.campo{
    position: relative;
}

h1.gameOver {
    color: black;
    display: inline-block;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    position: absolute;
    top: 155px;
    left:250px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
